html,
body {
  font-size: 62.5%; /* 10px */
  min-height: 100vh;
}

body {
  background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(0,0,0,0.75)), url(images/background-graffiti-1500x750.jpg) no-repeat center / cover;
  display: flex;
  flex-direction: column;
  font-family: sans-serif;
  margin: 0;
}

header {
  font-family: 'Permanent Marker', sans-serif;
  margin: 5vh auto;
  text-align: center;
}

main {
  flex: 1 0 auto;
  margin: 0 auto;
  max-width: 1500px;
}

footer > p {
  color: white;
  font-size: calc(0.9rem + (1.4 - 0.9) * ((100vw - 320px) / (1500 - 320)));
  margin: 0 auto 0.5rem;
  text-align: center;
}

a {
  color: white;
  text-decoration: none;
}

a:active,
a:focus,
a:hover {
  color: cyan;
}

h1 {
  color: black;
  font-size: calc(4rem + (40 - 4) * ((100vw - 320px) / (1500 - 320)));
  line-height: 1;
  margin: 0 auto;
  padding: 0;
  text-shadow: -0.1rem -0.1rem 0.75rem cyan, 0.25rem 0.25rem 0.75rem navy;
}

h1 ~ p {
  color: white;
  font-size: calc(1.6rem + (16 - 1.6) * ((100vw - 320px) / (1500 - 320)));
  margin: 0 auto;
  text-shadow: -0.1rem -0.1rem 0.75rem orange, 0.15rem 0.15rem 0.75rem red;
}

.keys {
  align-items: center;
  display: flex;
  flex: 1;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0 auto 5vh;
  max-width: 80vw;
  min-width: 320px;
}

.char {
  display: flex;
  justify-content: space-around;
  margin: 0 auto 5vh;
  width: 100%;
}

.char .key {
  border-radius: 5%;
  max-width: 100rem;
  padding: 2rem;
}

.key {
  background: rgba(0,0,0,0.75);
  border: .4rem solid black;
  border-radius: 50%;
  margin: 0.5rem;
  padding: 2rem 1rem;
  text-align: center;
  max-width: 10rem;
  min-width: 6.8rem;
  transition: all .07s ease;
}

.playing {
  transform: scale(1.1);
  border-color: #ffc600;
  box-shadow: 0 0 4rem red, 0 0 6rem white;
}

kbd {
  color: white;
  display: block;
  font-size: calc(1.4rem + (6 - 1.4) * ((100vw - 320px) / (1500 - 320)));
  font-weight: 700;
  margin: 0.5rem auto;
  text-shadow: 0 0 .75rem cyan;
}

.sound {
  color: #ffc600;
  font-size: calc(1.2rem + (3 - 1.2) * ((100vw - 320px) / (1500 - 320)));
  letter-spacing: .12rem;
  text-shadow: 0 0 .25rem red;
  text-transform: uppercase;
}

.sing {
  font-size: calc(4rem + (60 - 4) * ((100vw - 320px) / (1500 - 320)));
}

/* portrait mobile */
@media screen and (max-width: 600px) {
  body {
    background: linear-gradient(to bottom, rgba(255,255,255,0.5), rgba(0,0,0,0.75)), url(images/background-graffiti-600x1000.jpg) no-repeat center / cover;
  }
  header {
    margin: 2.5vh auto;
  }
  .char,
  .keys {
    margin: 0 auto 2.5vh;
  }
}
